<main class="w-full flex flex-col items-center gap-10 mb-28">
    <section class="w-full h-auto container">
        <div class="w-full h-full flex flex-col md:flex-row justify-center items-center">
            <div class="w-full flex justify-center items-center">
                <img src="https://coderthemes.com/appexy/tailwind/assets/images/features-1.png" alt="">
            </div>
            <div class="w-full flex flex-col gap-3 justify-center items-center">
                <h1 class="text-3xl text-gray-900 w-10/12">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus, doloremque!</h1>
                <h5 class="text-md text-gray-900 w-10/12">At vero eos et accusamus iusto odio dignissimos ducimus qui
                    blanditiis praesentium voluptatum deleniti atqued corrupti as quos dolores quas molestias
                    excepturi occaecati provident.</h5>
            </div>
        </div>
    </section>
    <section class="w-full container" data-aos="fade-down">
        <div class="w-full h-full flex justify-center items-center">
            <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-4">
                <div class="flex justify-center p-4 bg-gray-100 shadow-md rounded-lg">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sed, magni ad molestias similique facilis unde odit dolore neque reprehenderit, voluptas necessitatibus quos, ea sapiente dolor commodi. Quidem, rem suscipit.</p>
                </div>
                <div class="flex justify-center p-4 bg-gray-100 shadow-md rounded-lg">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sed, magni ad molestias similique facilis unde odit dolore neque reprehenderit, voluptas necessitatibus quos, ea sapiente dolor commodi. Quidem, rem suscipit.</p>
                </div>
                <div class="flex justify-center p-4 bg-gray-100 shadow-md rounded-lg">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sed, magni ad molestias similique facilis unde odit dolore neque reprehenderit, voluptas necessitatibus quos, ea sapiente dolor commodi. Quidem, rem suscipit.</p>
                </div>
                <div class="flex justify-center p-4 bg-gray-100 shadow-md rounded-lg">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sed, magni ad molestias similique facilis unde odit dolore neque reprehenderit, voluptas necessitatibus quos, ea sapiente dolor commodi. Quidem, rem suscipit.</p>
                </div>
                <div class="flex justify-center p-4 bg-gray-100 shadow-md rounded-lg">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sed, magni ad molestias similique facilis unde odit dolore neque reprehenderit, voluptas necessitatibus quos, ea sapiente dolor commodi. Quidem, rem suscipit.</p>
                </div>
                <div class="flex justify-center p-4 bg-gray-100 shadow-md rounded-lg">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sed, magni ad molestias similique facilis unde odit dolore neque reprehenderit, voluptas necessitatibus quos, ea sapiente dolor commodi. Quidem, rem suscipit.</p>
                </div>
                <!-- <img src="http://marveltheme.com/tf/html/appai/appai/img/icons/app-feature-2.png" alt="">
                <img src="http://marveltheme.com/tf/html/appai/appai/img/icons/app-feature-3.png" alt="">
                <img src="http://marveltheme.com/tf/html/appai/appai/img/icons/app-feature-4.png" alt=""> -->
            </div>
        </div>
    </section>
    <section class="w-full container h-screen">

    </section>
</main>